.CustomHeader {
  position: relative;
}
/* .CustomHeader::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: calc(-2rem - 1px);
  width: 100vw;
  height: 2rem;
  background: linear-gradient(hsla(0, 0%, 100%), transparent);
  z-index: 100;
} */

.CustomHeader .logo {
  width: 38px;
  height: 38px;
  background-size: cover;
  background-image: url("../../assets/grab2.png");
}
